# Virtual environment
.venv/

# Database
*.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
.eggs/

# Environment variables
.env
.env.*

# macOS
.DS_Store

# IDE
.vscode/
.idea/
*.swp
